
@{
    ViewBag.Title = "DashBoard";
}

<h2>DashBoard for Admin</h2>
<h1>Rosy Bookstore</h1>

<p>
    Welcome to Rosy Bookstore. You can access to any books you like here. 
</p>
<img src="~/images/bookshop.jpg" alt="Trulli" width="500" height="400" />

